.form-container {
  margin: 1rem 2rem;
  padding: 0 0 3rem 0;
}

.form-header {
  display: flex;
}

.form-star-title {
  flex: 0 0 40%;
  font-size: 2.1rem;
}
.star {
  display: inline-block;
  width: 3.6rem;
  height: 3rem;
  margin: 0 0.3rem 0 -1rem;
  cursor: pointer;
  background-image: url("star-sprite.png");
  background-size: 85%;
  background-position-y: -3rem;
  background-repeat: no-repeat;
}

.star:first-child {
  margin-left: 0;
}

.star-yellow {
  background-position-y: 0;
}

.star-path {
  display: inline;
  color: yellow;
  background-color: yellow;
}

.form-label {
  margin-top: 3rem;
  display: block;
}

.form-email-label {
  margin-top: 3rem;
}

.form-label,
.form-email-label {
  font-weight: 600;
}

.form-textarea {
  border-radius: 0.3rem;
  margin-top: 1rem;
  display: block;
  width: 100%;
  height: 10rem;
  font-size: 2rem;
  padding: 0.7rem;
}

.form-textarea::placeholder {
  font-size: 1.3rem;
}

.form-remaining-char {
  text-align: right;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.email-container {
  display: flex;
}

.email-box {
  margin-right: 2rem;
  flex: 0 0 50%;
}

.form-email {
  border: solid 1px #ccc;
  border-radius: 0.3rem;
  display: block;
  width: 100%;
  height: 3rem;
}

.email-warning {
  margin-left: 2rem;
  font-size: 1.4rem;
}

.form-btn {
  border-radius: 0.3rem;
  font-size: 1.8rem;
  color: white;
  width: 100%;
  height: 3rem;
  cursor: pointer;
  outline: none;
  display: block;
  background-color: cornflowerblue;
  border: none;
  margin: 2rem 0;
}
