.App {
  font-size: 1.6rem;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  outline: solid 6px lightgrey;
  border-bottom: 3px solid yellow;

  flex: 0 0 50%;
}
